/* put any css required here */

:root {
  --color-black: #101010;
  --color-orange: #E74C3C;
  --color-white: #fff;

  --desktop-max-width: 1024px; 

  --heading-font-size: 30px;
  --subheading-font-size: 20px;
  --content-font-size: 16px;
  --read-more-font-size: 14px;

  --content-text-color: var(--color-black);
  --read-more-btn-color: var(--color-white);
  --read-more-btn-bg-color: linear-gradient(to right, var(--color-black), var(--color-orange)); 

  --read-more-height: 40px;
  --read-more-width: 120px;

  --image-mobile-max-width: 335px;
  --image-desktop-max-width: 320px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
}

.content-wrapper__inner {
  display: block;
}

.content-wrapper__inner__top {
  flex-basis: 100%;
  margin: 0;
}

.content-heading {
  color: var(--content-text-color);
  font-size: var(--heading-font-size);
  font-weight: 700;
  font-family: inherit;
  line-height: 40px;
  margin: 20px 0;
}

.content-subheading {
  color: var(--conent-text-color);
  font-size: var(--subheading-font-size);
  font-family: inherit;
  font-weight: 400;
  line-height: 28px;
}

.content-wrapper {
  display: block;
  max-width: var(--desktop-max-width);
  margin: 40px 20px 20px;
}

.content {
  color: var(--conent-text-color);
  font-family: inherit;
  font-size: var(--content-font-size);
  margin-top: 20px;
  line-height: 24px;
}

.hide {
  display: none;
}

.read-more {
  display: block;
  color: var(--read-more-btn-color);
  height: var(--read-more-height);
  width: var(--read-more-width);
  font-family: inherit;
  font-size: var(--read-more-font-size);
  font-weight: 700;
  margin: 16px 0 20px;
  border-radius: 5px;
  border: none;
  background: var(--read-more-btn-bg-color);
  cursor: pointer;
}

.content-image {
  position: static;
  width: 100%;
  max-width: var(--image-mobile-max-width);
}

@media (min-width: 1366px) {

  .content-wrapper {
    display: block;
    margin: 60px auto 0;
  }

  .content-wrapper__text {
    display: flex;
  }

  .content-wrapper__text__top {
    flex-basis: 320px;
    margin-right: 32px;
  }

  .content-wrapper__text__bottom {
    flex-basis: 674px;
  }

  .read-more {
    display: none;
  }

  .hide {
    display: block;
  }

  .content-image {
    position: absolute;
    top: 270px;
    max-width: var(--image-desktop-max-width);
  }
}