{#
    Available variables:
    heading,
    subheading,
    image,
    paragraphs (array of paragraphs)
#}

<section>
    <h2>{{ heading }}</h2>
    {% for paragraph in paragraphs %}
    <p>{{ paragraph }}</p>
    {%  endfor %}
    <button>Read more</button>
    <img src="{{ image }}" />
</section>